.mainBlock{
  @apply flex flex-col

}
.blocks {
  @apply mt-20 flex flex-row  justify-between
}
.logo {
  @apply mb-10
}
.logos {
  @apply flex flex-row justify-between w-2/3
}

.divided {
  @apply w-full my-5 bg-root-footer-text-color
}

.copyright {
  @apply mb-20 text-root-footer-text-color
}

.input {
  @apply rounded-3xl outline-none text-black pl-3
}

.subscribe {
  @apply flex flex-row mt-10
}

