
.root {
  @apply px-[1.25rem] py-[.75rem]
  border border-root-background-secondary
  rounded-[1.25rem] text-root-label-text-color
  items-center justify-items-start mb-5
}


.root {
  display: grid;
  grid-template-columns: 40px 2fr 1fr 1fr 1fr;
  column-gap: 2.25rem;
}
