.mainBlock{
  @apply  bg-root-background-secondary rounded-3xl flex flex-row justify-between items-center mt-20 ml-20 mx-20
}
.image {
  @apply my-10 ml-10
}

.input {
  @apply rounded-3xl outline-none text-black pl-3
}