.h2 {
  @apply text-3xl font-bold;
}
.categoriesName {
  @apply mt-5 ml-5;
}

.title {
  @apply mb-20;
}
.cards {
  @apply grid grid-cols-4 gap-4;
}
.card {
  @apply shadow-xl w-60 h-80  rounded-3xl overflow-hidden bg-root-background-secondary relative;
}

.icon {
  @apply absolute text-center top-14 left-14;
}

.cards {
  @apply grid overflow-hidden grid-cols-4 grid-rows-2 gap-2 gap-y-8;
}
