.mainBlock {
  @apply mx-20
}

.divided {
  @apply w-full my-5 bg-root-background-secondary
}

.smallCards {
  @apply flex flex-row my-2 justify-items-start;
}

.button {
  @apply flex items-center bg-root-primary py-6 px-10 rounded-3xl hover:bg-purple-700 transition;
}

.collectionName {
  @apply mb-2;
}

.userBlock {
  @apply flex flex-row;
}
.userName {
  @apply px-2;
}

.tab {
  @apply text-white px-6 py-3 m-2
}
.active {
  @apply border-b-2 border-root-label-text-color text-root-white
}

