.textBlock {
  @apply mt-20 mb-20;
}

.h2 {
  @apply text-3xl font-bold;
}

.button {
  @apply flex items-center bg-root-background border-2 border-root-primary py-3 px-10 rounded-3xl hover:bg-purple-700 transition;
}

.card {
  @apply w-60 h-60 bg-root-background-secondary rounded-3xl flex flex-col items-center;
}
.text {
  @apply text-root-label-text-color;
}
.avatar {
  @apply mt-0 mb-7;
}

.circle {
  @apply w-7 h-10 rounded-full text-center bg-root-background mt-5 mr-40 text-root-label-text-color;
}
