.button {
  @apply flex rounded-[1.25rem]
  text-root-white px-[30px] gap-3 items-center active:scale-95 transition
  font-semibold
}

.small {
  @apply h-11
}

.medium {
  @apply h-14
}

.large {
  @apply h-18
}

.contained {
  @apply bg-root-primary hover:bg-root-primary-darken
}

.outlined {
  @apply border-root-primary border-2 hover:bg-root-primary-darken
}

.outlined path {
  @apply fill-root-primary transition-all
}

.outlined:hover path {
  @apply fill-root-white
}