
.root {
  @apply px-[1.25rem] py-[.75rem]
  border border-root-background-secondary
  rounded-[1.25rem] text-root-white
  items-center bg-root-background-secondary
  justify-items-start h-[84px] box-border

}

.root {
  display: grid;
  grid-template-columns: 40px 2fr 1fr 1fr 1fr;
  column-gap: 2.25rem;

  &:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}


.avatar {
  @apply rounded-full
}

.col1 {
  @apply rounded-full
  text-root-label-text-color
  bg-root-background w-[2.2rem] h-[2.2rem]
  flex items-center justify-center
}

.col2 {
  @apply flex items-center gap-5 justify-self-start
}


.red {
  @apply text-red-600
}

.green {
  @apply text-green-600
}
