
.textBlock {
  @apply mt-20 mb-20;
}

.h2 {
  @apply text-3xl font-bold;
}
.button {
  @apply flex flex-row justify-between items-center bg-root-background border-2 border-root-primary py-3 px-5 rounded-3xl hover:bg-purple-700 transition;
}
.cards {
  @apply flex flex-row justify-between
}
