.h1 {
  @apply text-5xl leading-tight font-bold
}

.h2 {
  @apply text-4xl leading-tight font-bold
}

.h3 {
  @apply text-3xl leading-snug font-bold
}

.h4 {
  @apply text-2xl leading-normal font-bold
}

.h5 {
  @apply text-xl leading-relaxed font-bold
}

.base {
  @apply text-base leading-normal font-normal
}

.caption {
  @apply text-sm leading-tight font-normal
}

.workSans {
  @apply font-space-mono
}

.spaceMono {
  @apply font-work-sans
}