.root {
  @apply transition duration-1000 fixed top-0 left-0
  w-screen h-screen flex justify-around bg-root-background flex gap-16
  z-50
  ;
}

.image {
  @apply w-full h-full
}

.left,
.right {
  @apply flex-1
}

.right {
  @apply flex flex-col justify-center
}


.closeBtn {
  @apply absolute right-5 top-5;
}

.open {
  @apply translate-x-0
}

.close {
  @apply translate-x-full
}

.form {
  @apply w-80
}

.form div {
  @apply mt-5 relative
}

.form input {
  @apply h-11 rounded-[20px] w-full pl-8 text-black outline-none
}

.form svg {
  @apply absolute left-2 top-3
}
