.textBlock {
  @apply mt-20 mb-20;
}
.cards {
  @apply flex flex-row justify-between;
}

.smallCards {
  @apply flex flex-row my-5 justify-between;
}
.button {
  @apply flex items-center bg-root-primary py-6 px-6 rounded-3xl hover:bg-purple-700 transition;
}

.h2 {
  @apply text-3xl font-bold;
}

.collectionName {
  @apply mb-2;
}

.userBlock {
  @apply flex flex-row;
}
.userName {
  @apply px-2;
}
